/*
 these settings are not necessary for carousel,
 but you must prepare a container equivalent to carousel-list-container.
*/
.main {
  background-color: #f4f4f4;
  width: 700px;
  margin: auto;
}
.introduction {
  background-color: #000000;
  color: #f4f4f4;
  padding-left: 3px;
  padding-bottom: 3px;
  margin-bottom: 30px;
}
.step-label {
  background-color: #f4f4f4;
  color: #000000;
  border-radius: 5px;
  padding: 4px;
  margin-left: 6px;
}
.carousel-list-container {
  width: 100%;
}
p {
  margin-top: 0px;
  margin-bottom: 8px;
  margin-left: 20px;
}
a {
  color: #ffffff;
}
